<h1>Movie List</h1>

<%= form_with(url: movies_path, method: :get, local: true) do |f| %>
  <%= f.radio_button :is_showing, nil, checked: params[:is_showing].nil? %> <%= f.label :is_showing_all, 'すべて' %>
  <%= f.radio_button :is_showing, '0', checked: params[:is_showing] == '0' %> <%= f.label :is_showing_soon, '公開予定' %>
  <%= f.radio_button :is_showing, '1', checked: params[:is_showing] == '1' %> <%= f.label :is_showing_now, '公開中' %>
  <%= f.text_field :keyword, value: params[:keyword], placeholder: 'Search' %>
  <%= f.submit 'Filter' %>
<% end %>



<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <% if movie.image_url.present? %>
            <img src="<%= movie.image_url %>" alt="<%= movie.name %> Image" style="width:100px;height:auto;" onerror="this.onerror=null;this.src='https://picsum.photos/100/100';">
          <% else %>
            <p>No image available</p>
          <% end %>
        </td>
        <td><%= link_to movie.name, movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
















<% if current_user %>
  User: <%= current_user.name %> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to '新規登録', new_user_registration_path %> |
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>
