<h1><%= @movie.name %> (<%= @movie.year %>)</h1>

<% if @movie.image_url.present? %>
  <img src="https://picsum.photos/100/100" alt="<%= @movie.name %> Image" style="width:100px;height:auto;">
<% else %>
  <p>No image available</p>
<% end %>

<p><%= @movie.description %></p>



<%= form_with url: show_schedules_movie_path(@movie), method: :get do |form| %>

  <div>
    <label for="schedule">劇場:</label>
    <%= form.select :movie_cinema_id, options_from_collection_for_select(@available_movie_cinemas, "id", ->(movie_cinema) { movie_cinema.cinema.name }) %>
  </div>

  <div>
    <%= form.button 'スケジュールを確認する' %>
  </div>
<% end %>

<h2>上映劇場一覧</h2>
<table>
  <thead>
    <tr>
      <th>劇場名</th>
    </tr>
  </thead>
  <tbody>
    <% @movie.movie_cinemas.each do |movie_cinema| %>
      <tr>
        <td><%= movie_cinema.cinema.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'レビューを見る', movie_reviews_path(@movie) %>

<br>

<%= link_to '映画一覧に戻る', movies_path %>