<h1><%= @movie.name %> (<%= @movie.year %>)</h1>

<% if @movie.image_url.present? %>
  <img src="https://picsum.photos/100/100" alt="<%= @movie.name %> Image" style="width:100px;height:auto;">
<% else %>
  <p>No image available</p>
<% end %>

<p><%= @movie.description %></p>



<%= form_with url: reservation_movie_path(@movie), method: :get do |form| %>
  <div>
    <label for="date">Date:</label>
    <%= form.select :date, options_for_select(@dates.map { |date| [date.strftime('%Y-%m-%d'), date.strftime('%Y-%m-%d')] }) %>
  </div>

  <div>
    <label for="schedule">Schedule:</label>
    <%= form.select :schedule_id, options_from_collection_for_select(@movie.schedules, "id", ->(schedule) { schedule.start_time.strftime('%H:%M') }) %>
  </div>

  <div>
    <%= form.button '座席を予約する' %>
  </div>
<% end %>

<h2>上映スケジュール一覧</h2>
<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% @movie.schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.start_time.strftime('%H:%M') %></td>
        <td><%= schedule.end_time.strftime('%H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '映画一覧に戻る', movies_path %>