<h1>管理ページ 映画一覧</h1>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-4" style="width: 18rem;">
      <div class="card mb-4">
        <% if movie.image_url.present? %>
          <img class="card-img-top" src="https://picsum.photos/100/100" alt="<%= movie.name %> Image">
        <% else %>
          <div class="card-body">
            <p class="card-text">No image available</p>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.name %></h5>
          <p class="card-text"><%= movie.year %></p>
          <p class="card-text"><%= movie.description %></p>
          
          <% movie_schedules = @schedules.select { |schedule| schedule.movie_id == movie.id } %>
          <p class="card-text">
            <%= link_to '上映スケジュール', admin_movie_path(movie) %>
          </p>
          <% if movie_schedules.any? %>
            <% movie_schedules.each do |schedule| %>
              <p class="card-text"><%= schedule.start_time.strftime('%H:%M') %> - <%= schedule.end_time.strftime('%H:%M') %></p>
            <% end %>
          <% else %>
            <p class="card-text">上映スケジュールはありません</p>
          <% end %>
          <p class="card-text">
            <%= link_to '編集する', edit_admin_movie_path(movie) %>
          </p>

        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to '映画を追加する', new_admin_movie_path %>

