<h1>管理ページ 映画一覧</h1>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-4" style="width: 18rem;">
      <div class="card mb-4">
        <% if movie.image_url.present? %>
          <img class="card-img-top" src="https://picsum.photos/100/100" alt="<%= movie.name %> Image">
        <% else %>
          <div class="card-body">
            <p class="card-text">No image available</p>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to movie.name, edit_admin_movie_path(movie) %>
          </h5>
          <p class="card-text"><%= movie.year %></p>
          <p class="card-text"><%= movie.description %></p>
          <p class="card-text">
            <%= link_to "上映劇場を確認する", admin_movie_path(movie) %>
          </p>
        

        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to '映画を追加する', new_admin_movie_path %>

<br>

<%= link_to '予約一覧を確認する', admin_reservations_path %>

