<h1><%= @movie.name %> (<%= @movie.year %>)</h1>

<% if @movie.image_url.present? %>
  <img src="https://picsum.photos/100/100" alt="<%= @movie.name %> Image" style="width:100px;height:auto;">
<% else %>
  <p>No image available</p>
<% end %>

<p><%= @movie.description %></p>

<h2>上映スケジュール一覧</h2>
<table>
  <thead>
    <tr>
      <th>上映開始</th>
      <th>上映終了</th>
    </tr>
  </thead>
  <tbody>
    <% @movie.schedules.each do |schedule| %>
      <tr>
        <td><%= link_to schedule.start_time.strftime('%H:%M'), edit_admin_movie_schedule_path(@movie, schedule) %></td>
        <td><%= link_to schedule.end_time.strftime('%H:%M'), edit_admin_movie_schedule_path(@movie, schedule) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'スケジュールを追加する', new_admin_movie_schedule_path(@movie) %>
<%= link_to '戻る', admin_movies_path %>
