<h1>予約リマインダー</h1>
<p>明日は以下の映画の予約日です。</p>
<p>映画名: <%= @reservation.schedule.movie_cinema.movie.name %></p>
<p>劇場名: <%= @reservation.schedule.movie_cinema.cinema.name %></p>
<p>日付: <%= @reservation.date %></p>
<p>スケジュール: <%= @reservation.schedule.start_time.strftime('%H:%M') %> - <%= @reservation.schedule.end_time.strftime('%H:%M') %></p>
<p>ユーザー名: <%= @reservation.name %></p>
