<h1>Edit Schedule for <%= @movie.name %></h1>

<%= form_for([:admin, @movie, @schedule]) do |f| %>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit "Update Schedule" %>
  </div>
<% end %>

<%= link_to 'Delete Schedule', [:admin, @movie, @schedule], method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', admin_movie_path(@movie) %>
