<h1>スケジュール追加 (<%= @movie.name %>)</h1>

<%= form_for([:admin, @movie, @schedule]) do |f| %>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to '戻る', admin_movie_path(@movie) %>
